@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* --- Breakpoints (Screens) --- */
  --breakpoint-xs: 320px;
  --breakpoint-tb: 560px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1800px;

  --font-sans: "Public Sans", sans-serif;

  /* --- Aspect Ratio --- */
  --aspect-9/8: 1 / 1.125;

  /* --- Container Customization --- */
  --container-center: true;
  --container-padding: 0.5rem;

  --- --- Colors --- */
  --color-primary: #007BFF;
}
